<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <%= form.hidden_field "place_id" %> 
  <p>
  <div class="mb-3 w-30">
    <%= form.label "title", :class => "form-label" %>
    <%= form.text_field "title", :class => "form-control" %>
   </div>
  </p>
  
  <p>
<div class="mb-3 w-50">
    <%= form.label "description", :class => "form-label"  %>
    <%= form.text_area "description", :class => "form-control"  %>
   </div>
  </p>

<div class="mb-3 w-30">
<%= form.label "uploaded_image", :class => "form-label" %>
      <%= form.file_field "uploaded_image", :accept => "image/png,image/jpg,image/jpeg,image/gif", :class => "form-control" %>
   </div>
  </p>

  <p>
  <div class="mb-3 w-30">
    <%= form.label "posted_on", :class => "form-label" %>
    <%= form.date_field "posted_on", :class => "form-control" %>
   </div>
  </p>
  
  <p>
    <%= form.submit "Create Post", :class => "btn btn-success" %>
  </p>
<% end %>